.vs/
Domain.Library/bin
Domain.Library/obj

Application.Library/bin
Application.Library/obj

Infrastructure.Library/bin
Infrastructure.Library/obj

TicketApplication/bin
TicketApplication/obj

Ticket.Domain/bin
Ticket.Domain/obj

Ticket.Application/bin
Ticket.Application/obj

Ticket.Infrastructure/bin
Ticket.Infrastructure/obj

Ticket.EndPoint/bin
Ticket.EndPoint/obj