.vs/
Windows Application/Domain.Library/bin
Windows Application/Domain.Library/obj
Windows Application/Application.Library/bin
Windows Application/Application.Library/obj
Windows Application/Infrastructure.Library/bin
Windows Application/Infrastructure.Library/obj
Windows Application/TicketApplication/obj
Windows Application/TicketApplication/bin

Windows Application/Infrastrucure.Library/bin/
Windows Application/Infrastrucure.Library/obj/


Web Application/TicketApplication/bin
Web Application/TicketApplication/obj

Web Application/Ticket.Domain/bin
Web Application/Ticket.Domain/obj

Web Application/Ticket.Application/bin
Web Application/Ticket.Application/obj

Web Application/Ticket.Infrastructure/bin
Web Application/Ticket.Infrastructure/obj

Web Application/Ticket.EndPoint/bin
Web Application/Ticket.EndPoint/obj